# SPDX-FileCopyrightText: Copyright The Zephyr HC32F4A0 Contributors
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_XHSC
	bool

config SOC_FAMILY
	default "xhsc" if SOC_FAMILY_XHSC

config SOC_SERIES_HC32F4A0
	bool
	select SOC_FAMILY_XHSC

config SOC_SERIES
	default "hc32f4a0" if SOC_SERIES_HC32F4A0

config SOC_HC32F4A0PITB
	bool
	select SOC_SERIES_HC32F4A0

config SOC
	default "hc32f4a0pitb" if SOC_HC32F4A0PITB
